/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*FINE RESET*/

/*INIZIO REGOLE GENERALI*/
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: blue;
}

li {
  list-style-type: none;
}
.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

.button {
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 7px;
}
/*FINE REGOLE GENERALI*/

/* HEADER */
/* header navigation top */
header {
  color: #33475b;
}
header .navigation.top {
  background: #f4f9fd;
  padding: 20px 0;
  border-bottom: 1px solid #44596a;
}
header a {
  color: #33475b;
}
header li {
  display: inline-block;
  font-size: 13px;
}
header .col {
  width: 50%;
}
header .col .fa-angle-down {
  margin-right: 20px;
  margin-left: 5px;
}
header .col.right {
  text-align: right;
}
header .col .login {
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  margin: 0 20px;
  padding: 7px;
}
header .col.right .fa-search {
  color: #01a4bd;
}
/* fine header navigation top */

/* inizio header navigation bottom */
header .bottom .col {
  padding: 20px 0;
  width: 30%;
}
header .bottom .col.right {
  width: 70%;
  line-height: 40px;
}
header .bottom .col.right .pricing {
 padding-right: 20px;
}
header .bottom .col.right ul li {
  padding: 0 1px;
}
header .fa-angle-down.last {
  margin-right: 0px;
}
/* fine header navigation bottom */

/* inizio header teaser */
header .teaser {
  background-image: url(../img/jumbotron.png);
  height: 695px;
  background-repeat: no-repeat;
}

header .teaser .claim {
  width: 65%;
  padding-top: 50px;
}

header .teaser .claim h1 {
  font-size: 40px;
}
header .teaser .claim p {
  margin: 35px 0;
}
header .teaser .claim a {
  padding: 20px 35px;
  line-height: 100px;
}
header .teaser .claim .mini {
  font-size: 12px;
}
/* fine header teaser */
/* FINE HEADER */

/* MAIN  */
main {
  color: #33475b;
}
main p {
  font-size: 13px;
}
main img {
  height: 80px;
  margin-bottom: 20px;
}
main h4 {
  text-transform: uppercase;
}

/* inizio main section feature */
main .feature {
  background-color: #f4f9fd;
}

main .learn-more {
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
}
main .learn-more:hover {
  color: blue;
}

main .fa-check-circle {
  color: #fe775a;
  margin: 0 15px;
  float: left;
}

main .feature p {
  margin: 20px 0;
}

/* inizio main section feature powerful */

main .feature .powerful img {
  height: 150px;
}
main .feature .powerful {
  text-align: center;
  padding: 50px;
}
main .feature .powerful p {
  margin-top: 20px;
}
/* fine main section feature powerful */

/* inizio main section feature hubspot */
main .feature .setting {
  background-color: white;
  padding: 35px 55px;
  border-radius: 5px;
  border: 2px solid #e9eef4;
}
main .feature .hub .col.left{
  width: 15%;
  text-align: center;
}
main .feature .hub .col.right{
  width: 77%;
  margin-left: 70px;
}
main .feature .hub .col.right h4 {
  width: 30%;
  display: inline-block;
}
main .feature .hub .col.right hr{
  width: 510px;
  display: inline-block;
}
main .feature .hub .col.right ul li{
  display: inline-block;
}
/* fine main section feature hubspot */

/* inizio main section feature hub bottom */
main .hub.three .col {
  width: 31%;
  padding: 45px 25px;
  text-align: center;
  margin-top: 50px;
}
main .hub.three .learn-more {
  display: inline;
}
main .hub.three .col.center {
  margin: 50px 37px;
}

main .feature .hub.three .col ul {
  text-align: left;
  margin-bottom: 40px;
  font-size: 12px;

}
main .feature .hub.three .col ul li {
  text-align: left;
}
main .feature .hub.three .col hr {
  margin-bottom: 20px;
  margin-top: 40px;
}
main .feature .hub.three .col ul li p {
  margin: 0;
}
main .feature .hub.three .col h4 {
  margin-bottom: 20px;
}
/* fine main section feature hub bottom */
/* fine main section feature */

/* inizio main section learn */
main section.learn {
  background: #00b2b0;
  color: white;
  padding: 50px 0;
  text-align: center;
}
main .learn .text-learn h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

/* inizio main grid section learn */
main section .grid {
  text-align: center;
}
main section.learn .col {
  width: 25%;
  margin: 35px 0;
}
main section.learn .col img {
  height: 30px;
  margin-top: 35px;
}

main section.learn .col .number {
  font-size: 35px;
  font-weight: bold;
}

main section.learn .col.col-grid {
  border-right: 2px solid white;
}

main section .grid .bordo {
  border-top: 2px solid white;
  margin-top: 35px;
}
/* fine main grid section learn */
/* fine main section learn */



/* FINE MAIN */




/* FOOTER */

/* FINE FOOTER */
